@media (max-width: 767px) {
  .inner{
    width: 90%;
    padding-top: 100px;
  }
  html{overflow-x: hidden;}
  /* ########## intro ########## */
  .intro{
    .intro-text-wrap{
      left: 1%;
      h1{
        font-size: $h6;
        margin-bottom: -5px;
        padding-left: 10px;
      }
      p{
        font-size: 55px;
        font-family: $primary-en;
        font-weight: 600;
      }
      h2{
        font-size: $h6;
        padding-left: 10px;
        strong{
          color: $white;
          font-size: $h5;
          padding: 0 5px;
        }
      }
    }
  }
  /* ########## nav ########## */
  .nav{
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap; justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 100vw;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    .nav-item{
      flex: 0 0 auto;   
      white-space: nowrap;
      display: block;
      margin: 3px;
      padding: 8px 10px;
      font-size: $body;
      font-weight: 500;
      white-space: nowrap;
      flex: 0 0 auto;  
      &.active{
        background: $main-beige;
        border-radius: 100px;
        font-weight: 700;
      }
    }
    &.changeNav{
      background: $silver-black;
      color: $white;
      a{
        &.active{
          background: $white;
          color: $main-black;
        }
      }
    }
  }
  /* ######### about-me ######### */
  .about-me{
    height: 100vh; min-height: max-content;
    .inner{
      padding-bottom: 50px;
      .info-top-wrap{
        width: 100%; height: auto; 
        display: grid;
        grid-template-areas:
        "title title"
        "info image";
        grid-template-columns: 1fr 4fr;
        padding: 20px 15px; margin: 60px 0 40px;
        position: relative;
        .info-img{
          width: 100px; height: 120px;
          position: absolute;
          right: -0;
        }
        .info-text-top{
          margin-bottom: 40px;
          grid-area: title;
          text-align: center;
          width: 100%;
          p{
            font-size: $body-big;
            line-height: 1.3;
            strong{
              font-size: $body-title;
              font-weight: 600;
            }
          }
        }
        .info-text-bottom{
          width: 100%; height: max-content;
          grid-area: info;
          display: flex; flex-direction: column; gap: 25px;
          .info-text-item{
            width: 100%; height: 100%;
            display: flex; flex-direction: column;
            justify-content: space-between; gap: 25px;
            font-size: $body;
            .info-text-list{
              display: flex; gap: 12px;
              strong{
                width: max-content;
              }
              .list{
                display: flex; flex-direction: column; gap: 5px;
              }
              &:last-child{
                strong{
                  &.last{
                    width: 60px;
                    + .list{
                      width: 160px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .info-bottom-wrap{
        .info-bottom-title{
          h2{
            font-family: $point-kr;
            text-align: center;
            margin: $margin20;
            font-size: $h5;
          }
        }
        .info-bottom-items{
          height: 120px;
          margin: $margin40;
          display: flex; justify-content: space-around; flex-wrap: wrap; gap: 40px;
          .info-bottom-item{
            transition: all .4s;
            cursor: pointer;
            .item-text{
              margin-bottom: 20px;
            }
            .item-balloon{
              width: 320px; height: auto;
              line-height: 1.3;
              left: 5%;
              padding: 10px;
              z-index: 10;
              &::before{
                left: 20%;
              }
            }
            &:hover{
              .item-text{
                background: $white;
                color: $main-black;
                font-weight: 700;
                animation: none;
              }
              .item-balloon{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
            &:nth-child(2n){
              align-self: auto;
              .item-balloon{
                left: 15%;
                &::before{
                  top: -14px;
                  left: 78%;
                }
              }
            }
            &:nth-child(2n+1){
              align-self: auto;
              .item-balloon{
                left: 8%;
                &::before{
                  left: 15%;
                }
              }
            }
          }
        }
      }
    }
  }
  /* ######### Skills ######### */
  .Skills{
    @at-root .main-title{
      h1{
        margin: $margin20;
        text-align: center;
      }
    }
    .skills-content{
      margin: $margin20;
      background: rgba($color: $dark-gray, $alpha: .3);
      padding: 10px 20px;
      flex-direction: column; gap: 40px;
      border-radius: 10px;
      .skills-left{
        flex: 6;
        padding-left: 0;
        .skill-wrap{
          @at-root .skills-sub-title{
            h4{
              margin: $margin20;
              font-size: $h5;
            }
          }
          .skill-items{
            display: flex; flex-direction: column;
            .skill-item-wrap{
              margin-bottom: 20px;
              width: 90%;
              display: flex; flex-wrap: wrap; gap: 20px;
              .info-bottom-item{
                cursor: pointer;
                transition: .4s;
                position: relative;
                .item-balloon{
                  width: 300px; height: auto;
                  line-height: 1.3;
                  display: flex; align-items: center; justify-content: center;
                  padding: 10px;
                  margin-top: 20px;
                  position: absolute;
                  left: 0;
                }
                &:hover{
                  .item-text{
                    animation: none;
                  }
                  .item-balloon{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                  }
                }
                &:nth-child(2), &:nth-child(5){
                  .item-balloon{
                    left: -120%;
                  }
                }
                &:nth-child(3), &:nth-child(6){
                  .item-balloon{
                    left: -240%;
                  }
                }
                &:nth-child(2){
                  .item-balloon{
                    &::before{
                      left: 25%;
                    }
                  }
                }
                &:nth-child(3), &:nth-child(6){
                  .item-balloon{
                    &::before{
                      left: 57%;
                    }
                  }
                }
                &:nth-child(5){
                  .item-balloon{
                    &::before{
                      left: 30%;
                    }
                  }
                }
              }
              &.skill-office{
                .info-bottom-item{
                  &:nth-child(2){
                    .item-balloon{
                      left: -100%;
                      &::before{
                        left: 50%;
                      }
                    }
                  }
                  &:nth-child(3){
                    .item-balloon{
                      left: -200%;
                      &::before{
                        left: 75%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .certificates-wrap{
          .career-item{
            width: 100%;
          }
        }
      }
      .skills-right{
        .career-wrap{
          .career-items{
            margin: 10px 15px;
            .career-item{
              h6{
                margin: 15px 0;
                span{
                  display: block;
                  font-size: $body;
                  font-weight: 400;
                  margin-left: 0;
                  margin: 10px 20px;
                }
                &::before{
                  content: '⦁';
                  margin-left: -5px;
                  padding-right: 10px;
                }
              }
              .career-list{
                margin-left: 25px;
                li{
                  margin-bottom: 10px;
                  p{
                    margin: 10px 0;
                    &:nth-child(1){
                      font-weight: 700;
                      &::before{
                        content: '|';
                        font-weight: 700;
                        margin-right: 5px;
                      }
                    }
                    &:nth-child(2){
                      padding: 0 0 5px 10px;
                      border-bottom: 1px solid #c2c2c2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* ######### Portfolio Hub ######### */
  .portfolio-hub{
    .input-wrap{
      width: 100%; margin: auto;
      align-items: stretch; justify-content: center; flex-direction: column; gap: 20px;
      .option-wrap{
        .sub-title{
          h6{
            font-size: $body;
          }
        }
        .input-items{
          display: flex; flex-wrap: wrap; 
          width: 100%;
          background: rgba($color: $main-black, $alpha: .3);
          padding: 20px;
          font-size: $body;
          .input-item{
            margin: 0;
            input[type="checkbox"]{
              vertical-align: middle;
              margin-right: 5px;
              cursor: pointer;
              border-color: transparent;
            }
            label{
              color: $white;
              margin-right: 0;
              cursor: pointer;
              &:last-child{margin-right: 0;}
            }
          }
          &.radio-items{
            width: 100%;
            flex-wrap: nowrap;
            .input-item{
              width: 100%;
            }
          }
        }
      }
    }
    .tab-wrap{
      margin: $margin40;
      .tab-list{
        display: flex; align-items: center; justify-content: flex-start; gap: 15px;
        flex-wrap: wrap;
        li{
          a{
            transition: .5s;
            font-size: $body;
            padding: 5px 10px;
            margin: $margin20;
          }
          &::after{
          content: '|';
          margin-left: 15px;
        }
        &:hover{
          a{
            border-radius: 10px;
            color: $white;
            background: rgba($color: $main-black, $alpha: .5);
          }
        }
        &.active{
          a{
            border-radius: 10px;
            color: $white;
            background: $main-black;
          }
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
        }
      }
    }
    .portfolio-content{
      height: auto;
      display: flex; gap: 0;
      align-items: stretch;
      .portfolio-left{
        flex: 1;
        display: flex; flex-direction: column; justify-content: space-between;
        font-size: $body;
        .portfolio-title{
          p{
            margin: $margin20;
            line-height: 1.5;
            font-size: 13px;
          }
        }
        .portfolio-btn-wrap{
          display: flex;
          .portfolio-btn{
            margin-right: 15px;
          }
        }
      }
      .portfolio-right{
        display: none;
      }
    }
    .portfolio-popup-wrap{
      padding: 10px;
      min-width: 80%;
      .popup-close-btn{
        bottom: 96%; left: 95%;
      }
      .popup-content{
        .popup-top-wrap{
          margin: $margin20;
          .popup-img{
            display: block;
            img{
              width: 60%;
            }
          }
        }
        .popup-bottom-wrap{
          .popup-title{
            font-size: $body-big;
            margin: $text-margin;
            font-weight: 700;
          }
          .popup-info{
            font-size: 14px;
            padding: 10px;
          }
          .popup-note-items{
              background: rgba($color: $main-beige, $alpha: .3);
              border-radius: 10px;
              padding: 10px;
              display: flex; flex-direction: column; gap: 20px;
              .note-item{
                display: flex; align-items: flex-start; gap: 15px;
                .note-title{
                  font-size: 14px;
                  font-weight: 700;
                }
                .note-list{
                  display: flex; align-items: center; gap: 15px; flex-wrap: wrap;
                  font-size: 14px;
                }
              }
          }
          .popup-btns{
            height: fit-content;
            display: flex; justify-content: center; align-items: center; gap:20px;
            margin: $margin20;
            .popup{
              margin: 0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  /* ######### Epilogue ######### */
  .epilogue{
    .epilogue-content{
      margin: $margin60;
      .epilogue-items{
        background: rgba($color: $main-black, $alpha: .2);
        padding: 10px;
        margin: $margin40;
        border-radius: 10px;
        .epilogue-question{
          font-size: $body;
          font-weight: 600;
          margin: $text-margin;
          span{
            &:last-child{
              display: block;
              padding-left: 15px;
              margin: $text-margin;
            }
          }
        }
        .epilogue-answer{
          font-size: $body;
          line-height: 1.6;
          padding-left: 20px;
        }
        &:last-child{
          .epilogue-question{
          span{
            &:last-child{
              display: inline;
              padding-left: 0;
            }
          }
        }
        }
      }
    }
  }
  /* ######### footer ######### */
  footer{
    padding: 40px 0;
    .footer-title{
      margin: $margin20;
    }
    .footer-text{
      width: 95%;
      margin: auto;
      h6{
        margin: $text-margin;
        font-weight: 400;
        font-size: $body;
        line-height: 2;
      }
    }
    .footer-btn{
      display: block;
      width: max-content;
      margin: 20px auto;
      font-size: $body-big;
      border-bottom: 1px solid $white;
      padding: 5px 8px;
      transition: .3s;
      cursor: pointer;
      &:hover{
        transform: translateY(-5px);
      }
    }
    .footer-copyright{
      margin: $margin20;
      font-size: 12px;
    }
  }
}