/* Fontawesome 아이콘 불러오기 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* 구글 웹폰트 Alexandria 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

/* 눈누 프리탠다드 불러오기 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 눈누 빙그레 불러오기 */
@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-style: normal;
}