/* Font Family */
$primary-kr : 'Pretendard', sans-serif;
$point-kr : 'Binggrae';
$primary-en : 'Alexandria', sans-serif;

/* Font Size */
//Intro Font size
$intro-big-title : 150px;
$intro-title : 100px;

//main font size
$h1 : 60px;
$h2 : 50px;
$h3 : 40px;
$h4 : 30px;
$h5 : 25px;
$h6 : 20px;
$body-title : 18px;
$body-big : 17px;
$body : 15px;

/* object color */

// Grayscale
$main-black: #454545;
$dark-black: #555555;
$silver-black: #898989;
$dark-gray: #A7A7A7;
$light-gray: #F4F4F4;
$white: #ffffff;

// main color
$main-beige: #CFC5A1;
$background: #F4F1E8;
$skill-red: #BF381B;
$skill-orange: #F16429;
$skill-blue: #264DE4;
$skill-light-blue: #1B9DE8;
$skill-green: #02723B;
$skill-pink: #CC6699;
$skill-yellow: #F7DF1E;

/* inner */
$inner : 1280px;

/* margin */
$text-margin : 10px 0;
$margin20 : 20px 0;
$margin25 : 25px 0;
$margin40 : 40px 0;
$margin60 : 60px 0;
$margin90 : 90px 0;
$margin170 : 170px 0;